<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uttarakhand.kisanseva2">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.BlockchainActivity" />
        <activity android:name=".activities.LoanInfoActivity" />
        <activity
            android:name=".activities.GodownsActivity"
            android:label="Warehouses Locations near you"/>
        <activity android:name=".activities.FeedbackActivity" />
        <activity
            android:name=".activities.WalletSectionActivity"
            android:label="@string/earning" />
        <activity android:name=".activities.NegotiatedActivity" />
        <activity android:name=".activities.inventoryManagement.OrderDetailsActivity" />
        <activity android:name=".activities.QualityTestResultActivity" />
        <activity
            android:name=".activities.LogisticsInfoActivity"
            android:label="Logistics Solution" />
        <activity android:name=".activities.inventoryManagement.OrdersInfoActivity" />
        <activity
            android:name=".activities.inventoryManagement.InventoryItemDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.inventoryManagement.UploadInventoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WeatherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.About_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.generalInfo.TreatmentDetails" />
        <activity android:name=".activities.generalInfo.CropDetailActivity" />
        <activity android:name=".activities.generalInfo.WebActivity" />
        <activity android:name=".activities.generalInfo.SelectPolicyActivity" />
        <activity android:name=".activities.generalInfo.HorticultureDetailActivity" />
        <activity android:name=".activities.generalInfo.HorticultureActivity" />
        <activity android:name=".activities.generalInfo.SoilHealthActivity" />
        <activity android:name=".activities.generalInfo.SelectProblemActivity" />
        <activity android:name=".activities.generalInfo.CropProductionActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>